<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 <div class="container">
    <h1 align="center">Listado de noticias</h1>
    <a class="btn btn-primary mb-3" th:href="@{/news/mostrar}">Agregar noticia</a>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>titulo</th>
                <th>desarrollo</th>
                <th>fecha</th>
                <th>Categoria</th>
                <th>URL</th>
                <th>resumen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
				<tr th:each="noticia: ${news}">
					<td th:text="${noticia.id}"></td>
					<td th:text="${noticia.titulo}"></td>
					<td th:text="${noticia.desarrollo}"></td>
					<td th:text="${noticia.fecha}"></td>
					<td th:text="${noticia.categoria.descripcion}"></td>
					<td th:text="${noticia.url}"></td>
					<td th:text="${noticia.resumen}"></td>
				<td>
					<a class="btn btn-primary" th:href="@{/news/mostrar(id=${noticia.id})}">Editar</a>
					<a class="btn btn-primary" th:href="@{/news/eliminar/{id}(id=${noticia.id})}">Eliminar</a>
				</td>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
</html>