<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear categoría</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<h1 th:if="${categoria.id == null}" class="h1" style="text-align: center;">Crear categoría</h1>
    <h1 th:if="${categoria.id != null}" class="h1" style="text-align: center;">Actualizar categoría</h1>
    
 <form method="post" th:action="@{/categorias_view/registrar}" th:object="${categoria}">
        <div class="form-group row">
         	<input type="hidden" name="id" th:field="*{id}" />
        	
	        <label for="descripcion" class="col-sm-2 col-form-label">Descripción:</label>
	        <div class="col-sm-10">
	            <input class="form-control" type="text" name="descripcion" th:field="*{descripcion}" required />
            </div>
        </div>

		<div class="form-group row">
			<div class="col-sm-10">
				<button type="submit"  th:text="${categoria.id == null ? 'Agregar' : 'Actualizar'}"
        		class="btn btn-success" style="background-color:#343a40; border:none">Guardar</button>
			</div>
		</div>
		
    </form>
</body>
</html>

